@using C_Entidades
@model IEnumerable<Sesion>
@{
    ViewBag.Title = "Lista de sesiones registradas";
    Layout = "~/Views/M_Basic.cshtml";
}

<div class="container">
    <div class="row">
        <hr />
        <h2 class="page-header">
            Lista de sesiones
            <small>Esta es la lista de sesiones que estas llevando o que has llevado.</small>
        </h2>
        @foreach (var s in Model)
        {
            <div class="col-lg-12">
                <a class="link-listaSesion" href="#"><i class="fa fa-link"></i> @Html.DisplayFor(modelItem => s.SesionTitulo)</a>
            </div>
        }
    </div>
</div>
<hr />
